# <center>Assignment

Download the file `athlete_events.csv` The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [5]:
import pandas as pd

In [6]:
# Change the path to the dataset file if needed. 
PATH = 'athlete_events.csv'

In [138]:
df = pd.read_csv(PATH)

__1. How old were the youngest male and female participants of the 1988 Olympics?__

In [139]:
df[df.Year==1988].groupby(['Sex']).min("Age")["Age"]

Sex
F    11.0
M    12.0
Name: Age, dtype: float64

__2. What was the percentage of female basketball players among all the female participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* drop duplicate athletes where necessary to count each athlete just once. This applies to other questions too.

In [140]:
round(len(df[(df.Year==2012) & (df.Sex=='F') & (df.Sport=="Basketball")].groupby(["Name"])) * 100 / len(df[(df.Year==2012) & (df.Sex=='F')].groupby("Name")), 1)

3.1

__3. What are the mean and max of height for female tennis players who participated in the 1988 Olympics? Round the answer to the first decimal.__

In [141]:
{"mean": round(df[(df.Sex == "F") & (df.Year == 1988)].groupby(["Name"]).max("Height")["Height"].mean(), 1),
 "max": round(df[(df.Sex == "F") & (df.Year == 1988)].groupby(["Name"]).max("Height")["Height"].max(), 1)}

{'mean': 169.3, 'max': 204.0}

__4. Find the heaviest athlete among 1988 Olympics participants. What sport did he or she do?__

In [142]:
df[df.Year==1988].sort_values(by=['Weight'], ascending=False).head(1)["Sport"].to_string(index=False, header=False)

'Weightlifting'

__5. How many times did John Aalberg participate in the Olympics held in different years?__

In [68]:
len(df[df.Name=="John Aalberg"].groupby("Year"))

2

__6. How many events did John Aalberg participate in during the Olympics held in Albertville?__

In [90]:
len(df[(df.City == "Albertville") & (df.Name == "John Aalberg")])

4

__7. How many gold medals in tennis did the Belarus team win at the 2012 Olympics?__

In [85]:
len(df[(df.Year == 2012) & (df.Medal == "Gold") & (df.Team == "Belarus")])

3

__8. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__

In [81]:
len(df[(df.Team == "Spain") & df.Medal.notna()]) < len(df[(df.Team == "Italy") & df.Medal.notna()])

True

__9. What is the absolute difference between the number of unique sports at the 1988 Olympics and 2002 Olympics?__

In [59]:
df[df.Year==1988].Sport.nunique() - df[df.Year==2002].Sport.nunique()

22

__10. Who won the highest number of medals overall?__
    
*Hint*: country

In [78]:
df[df.Medal.notna()].value_counts("Team").head(1)

Team
United States    5219
dtype: int64